<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gftest.myweather"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="scott.permission.MY_BROADCAST_PERMISSION"
        android:protectionLevel="normal" />

    <uses-permission android:name="scott.permission.MY_BROADCAST_PERMISSION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.gftest.myweather.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gftest.myweather.Home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gftest.myweather.ChooseAreaActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gftest.myweather.WeatherActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.gftest.myweather.service.AutoUpdateService" >
        </service>

        <receiver android:name="com.gftest.myweather.receiver.AutoUpdateReceiver" >
        </receiver>
    </application>

</manifest>